{% extends 'base.html' %}

{% block view_5 %}
    <h2>path('users/', view_5)</h2>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci </div>
{% endblock %}